@media (max-width: 1500px) {

}

:root {
    --navbar-color: rgb(20,20,20);
    --first-page-color: #011F5B;
    --first-page-fade: rgba(230, 230, 230, .1);

    --second-page-color: #990000;
    --third-page-color: rgb( 230,230,230);
    --contact-footer-color: #011F5B;

    --text-color: rgb(235,235,235);

    --coffee-cup-color: rgb(230,230,230);

    --shading: rgb(190,190,190);
}

* {
    border-width: box-border;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: Tahoma, sans-serif;
}

/* NavBar */ 

.nav-wrap {
    width: 100%;
    height: 70px;
    background-color: var(--navbar-color);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid rgb(160,160,160);
}

#navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#navbar h2 {
    margin: 0 0 0 20px;
    color: var(--text-color);
    display: relative;
    z-index: 2;
}

.eye {
    color: var(--shading);
}

#smile {
    height: 18px;
    width: 35px;
    background-color: var(--text-color);
    display: absolute;
    border-radius: 50%;
    margin-left: 85px;
    margin-top: -6px;
    z-index: -1;
}

#smile div {
    height: 16px;
    width: 35px;
    background-color: var(--navbar-color);
    margin-top: -3px;
    border-radius: 50%;;
}

.coffee-animation {
    width: 20px;
    height: 20px;
    background-color: var(--coffee-cup-color);
    position: relative;
    margin-top: -35px;
    margin-left: 145px;
    border-radius: 40% 40% 80% 80%;
}


.coffee {
    width: 12px;
    height: 2px;
    background-color: #6f4e37;
    display: relative;
    margin-left: 4px;
    margin-top: 1px;
    margin-bottom: 0;
    border-radius: 100%;
}

.handle {
    height: 8px;
    width: 6px;
    background-color: var(--coffee-cup-color);
    display: relative;
    margin-left: 20px;
    margin-top: 3px;
    border-radius: 0 40% 40% 0;
}

.handle-gap {
    background-color: var(--navbar-color);
    height: 3px;
    width: 3px;
    border-radius: 50%;
    display: relative;
    margin-top: -6px;
    margin-left: 21px;
}

.espresso-plate {
    background-color: var(--coffee-cup-color);
    width: 30px;
    height: 5px;
    display: relative;
    margin-top: 6px;
    margin-left: -4px;
    border-radius: 100%;
}

#navbar ul {
    width: 50%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: right;
}

#navbar li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px
}

#navbar a {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    margin-top: 0;
    transition: margin-top .2s ease-in-out 0s;
}

#navbar a:hover {
    margin-top: -10px;
}

/* Page 1 - welcome */ 

#welcome {
    height: calc(100vh - 70px);
    width: 100%;
    margin-top: 70px;
    background: linear-gradient(0deg, 
        var(--second-page-color) 0%, 
        var(--first-page-color) 5%);
    position: relative;
    z-index: -1;
    color: rgb(230,230,230);
}

.welcome-text {
    width: 80%;
    height: 80%;
    margin: auto auto;
    display: table;
}

.welcome-text div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* Page 2 - recent projects */

#project {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: var(--second-page-color);
    padding: 20px;
    color: var(--text-color);
}

#project h2 {
    margin: 0;
    text-decoration: underline;
}

#project-gallery {
    width: 100%;
    height: 90%;
}

/* Page 3 - academics */

#academics {
    width: 100%;
    height: 100vh;
    background-color: var(--third-page-color);
    text-align: center;
    padding: 20px;
}

#academics h2 {
    text-decoration: underline;
    margin: 0;
}

#academics p {
    margin-right: 40px;
    border: 2px purple solid;
}

.masters-wrap {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.master {
    width: 40%;
    height: 600px;
    border: 2px gold solid;
}

.master h3 {
    border: 2px gray solid;
    margin-top: 0;
    padding: 10px;
    background-color: var(--shading);
}

.master li {
    text-align: left;
}

/* Footer - contact info */

#contact-me {
    width: 100%;
    height: 60px;
    background-color: var(--contact-footer-color);
    color: white;
    border-top: var(--second-page-color) 4px solid;
    display: flex;
    align-items: center;
}

#contact-me p {
    margin-left: 30px;
    font-family: Tahoma, sans-serif;
    margin-right: 30px;
    width: 130px;
}

#contact-me ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 80%;
    height: 100%;
}

#contact-me ul li {
    list-style: none;
    margin-left: 40px;
    height: 100%;
    align-items: center;
    display: flex;
}

#contact-me a {
    color:var(--text-color);
    text-decoration: none;
    margin-top: 0px;
    display: relative;
    padding: 10px;
    transition: margin-top .2s ease-in-out 0s;
}

#contact-me a:hover {
    margin-top: -10px;
}