@media (max-width: 1500px) {

}

* {
    border-radius: box-border;
}

body {
    padding: 0;
    margin: 0;
}

.nav-wrap {
    border: 2px black solid;
    width: 100%;
    height: 70px;
    background-color:#98A886;;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

#navbar {
    width: 100%;
    height: 100%;
    border: 2px gold solid;
    display: flex;
}

#welcome {
    height: 100vh;
    width: 100%;
    margin-top: 70px;
    text-align: center;
    background-color: rgba(122,197,231, 50%);
    position: relative;
    z-index: -1;
}

#project {
    height: 100vh;
    width: 100%;
    border: 2px purple solid;
    text-align: center;
}

#project-gallery {
    width: 100%;
    height: 100%;
    border: 2px gold solid;
}

#contact-me {
    width: 100%;
    height: 60px;
    border: 2px gold solid;
}